.card p {
    margin-top: -10px;
    margin-bottom: 1px;
}
.row .card:hover{
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    transform: scale(1.02);
}
.card {
    
    margin-top: 15px; 
    margin-bottom: 15px;
    margin-left: 22px;
    margin-right: 8px;
}
.card-text {
    font-size: 12px;
}
.btn {
    margin-top: 4px;
}

